<div class="newsletter">
  <div class="container">
    <div
      class="row justify-content-center"
      style="align-items: center; margin: auto"
    >
      <div class="col-xl-9 col-lg-9 text-center">
        <div class="section-title text-center">
          <div class="text-center">
            <h2>Get Ready To Be Accredited</h2>
            <p>
              Here’s the low-down on what you need to Leave a business review
              and File a business complaint. Click on the button to learn more.
            </p>
          </div>
          <br /><br />
          <div class="newsletter-form d-flex justify-content-center">
            <a routerLink="/ratings"
              ><button type="button">
                <i class="fas fa-star"></i>Leave a review
              </button></a
            >&nbsp; &nbsp;
            <a routerLink="/logcomplaint"
              ><button type="button">
                <i class="fas fa-file-alt"></i>File a complaint
              </button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
