<div class="container">
  <div class="row">
    <!-- Text Area (Left) -->
    <div class="col-md-6">
      <div class="text-area">
        <div class="title-c">
          <div class="headline-c">
            <div class="become-a-successful">Become a successful</div>
          </div>
        </div>
        <div class="headline-c-wrapper">
          <div class="business-wrapper">
            <div class="business">Business</div>
          </div>
        </div>
        <div class="description">
          <p class="paragraph">
            We are dedicated to assisting businesses in Kenya in effectively
            managing complaints and delivering solutions that cater to their
            customers' needs. Our primary objective is to become a reliable
            partner for businesses, offering expert advice and support to
            facilitate the resolution of complaints in a prompt and professional
            manner.
          </p>
        </div>
      </div>
    </div>

    <!-- Banner (Right) -->
    <div class="col-md-6">
      <div
        class="banner"
        [style.backgroundImage]="'url(' + bannerImage + ')'"
        #bannerElement
      ></div>
    </div>
  </div>
</div>
