<!-- AboutHeadline Component HTML -->
<div class="container">
  <h1 class="about-headline-text">
    <div class="headline">
      <img class="smalline" alt="Line" [src]="Line" />
      <p class="we-build-bridges">
        <span class="text-wrapper">We build bridges between</span>
        <span class="span">&nbsp;</span>
        <span class="text-wrapper-2">companies and customers</span>
      </p>
    </div>
  </h1>

  <!-- AboutText Component HTML -->

  <div class="about-text">
    <p class="paragraph">
      We are dedicated to assisting businesses in Kenya in effectively managing
      complaints and delivering solutions that cater to their customers' needs.
    </p>
  </div>
</div>
