<app-header
  [mainText]="'Frequently'"
  [secondaryText]="'Asked Questions'"
></app-header>
<br /><br />
<div class="container">
  <div class="faq-content">
    <div class="faq-question">
      <input id="q1" type="checkbox" class="panel" />
      <div class="plus">+</div>
      <label for="q1" class="panel-title">
        What documents do I need to have to get Accredited?
      </label>
      <div class="panel-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Maecenas volutpat
        blandit aliquam etiam erat velit.
      </div>
    </div>
    <div class="faq-question">
      <input id="q2" type="checkbox" class="panel" />
      <div class="plus">+</div>
      <label for="q2" class="panel-title">
        How many businesses can I have Registered with Biz-resolve?
      </label>
      <div class="panel-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Maecenas volutpat
        blandit aliquam etiam erat velit.
      </div>
    </div>
    <div class="faq-question">
      <input id="q3" type="checkbox" class="panel" />
      <div class="plus">+</div>
      <label for="q3" class="panel-title">
        What happens after I rate a particular business?
      </label>
      <div class="panel-content">
        Certain questions are better left&nbsp;
        <a
          href="https://en.wikipedia.org/wiki/The_Unanswered_Question"
          target="_blank"
        >
          unanswered
        </a>
      </div>
    </div>
  </div>
</div>
