<div class="container">
  <div class="row">
    <!-- Left Component -->
    <div class="col-md-6">
      <div class="individualleft" [ngStyle]="individual">
        <img class="image" alt="img" [src]="individualpic" />
      </div>
    </div>

    <!-- Right Component -->
    <div class="col-md-6">
      <div class="individual-right" [ngStyle]="individual">
        <div class="headline">
          <h1 class="for-consumers">For Consumers</h1>
        </div>
        <div class="paragraph">
          <p class="Line1">
            <i class="fa fa-check-square check"></i>&nbsp;Get connected to an
            Accredited business.
          </p>
        </div>
        <div class="paragraph">
          <p class="Line2">
            <i class="fa fa-check-square check"></i>&nbsp;Complain against
            Biz-Resolve-accredited businesses for mistreatment.
          </p>
        </div>
        <div class="paragraph">
          <p class="Line3">
            <i class="fa fa-check-square check"></i>&nbsp;Discover top
            businesses to engage with through our Biz-Resolves’ accredited
            directory.
          </p>
        </div>
        <div class="paragraph">
          <p class="Line4">
            <i class="fa fa-check-square check"></i>&nbsp;Rate
            Biz-Resolve-accredited businesses on our reviews page and contribute
            to the community.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
