<div class="container">
  <div class="row">
    <div class="col-md-6">
      <!-- VisionText Component (Left) -->
      <div class="container vision-text">
        <p class="paragraph">
          To be the leading provider of complaint management services in Kenya,
          empowering businesses to resolve customer complaints quickly and
          efficiently, and improving customer satisfaction and loyalty.
        </p>

        <!-- VisionHeadlineText Component (Right) -->

        <h1 class="vision-headline-text">
          <span class="our-vision">
            <span class="text-wrapper">Our</span>
            <span class="span">&nbsp;</span>
            <span class="text-wrapper-2">Vision</span>
          </span>
        </h1>
      </div>
    </div>
  </div>
</div>
