<div class="container">
  <div class="flex-container">
    <!-- Left side with input fields -->
    <div class="form-wrapper">
      <h1>Reset Password ?</h1>
      <p style="color: #8c8c8c">
        Enter your email below to reset your password
      </p>
      <form>
         <div class="form-item">
          <label for="password"></label>
          <input
            (input)="handleInputChange($event)"
            #passwordInput
            name="password"
            [type]="hidePassword1 ? 'password' : 'text'"
            required
            placeholder="Password"
          />
          <span class="field-icon toggle-password" (click)="togglePasswordVisibility1()">
            <span class="material-icons">{{ hidePassword1 ? 'visibility_off' : 'visibility' }}</span>
          </span>
        </div>

        <div class="form-item">
          <label for="password"></label>
          <input
            (input)="handleInputChange($event)"
            #passwordInput
            name="password"
            [type]="hidePassword2 ? 'password' : 'text'"
            required
            placeholder="Confirm password"
          />
          <span class="field-icon toggle-password" (click)="togglePasswordVisibility2()">
            <span class="material-icons">{{ hidePassword2 ? 'visibility_off' : 'visibility' }}</span>
          </span>
        </div>
        <div class="button-panel">
          <button type="submit" class="button" title="Submit">
            Submit <i class="fas fa-paper-plane"></i>
          </button>
        </div>
      </form>
      <div class="line"></div>
      <div class="form-footer">
        <p>
          <a [routerLink]="['/']">Back to home</a>
        </p>
        <p>
          <a [routerLink]="['/signin']">Go back to login ?</a>
        </p>
      </div>
    </div>

    <!-- Right side with Lottie animation -->
    <div class="animation-container">
      <img class="image" [src]="Resetimage" />
    </div>
  </div>
</div>
