<div class="container">
  <div class="complaint-process" [ngClass]="className">
    <div class="sub-headline">
      <h1 class="headline">What happens when I file a complaint?</h1>
    </div>
    <div class="process">
      <div class="option">
        <img
          class="img"
          alt="Office building"
          src="assets/images/OfficeBuilding.svg"
        />
        <p class="text-wrapper">
          If your complaint meets our complaint acceptance
          <a href="#" class="link"><strong>criteria</strong></a
          >, your complaint will be sent to the business within approximately 7
          business days.
        </p>
      </div>
      <!-- <div class="option">
        <img
          class="img"
          alt="Office building"
          src="assets/images/OfficeBuilding.svg"
        />
        <p class="text-wrapper">
          If your complaint meets our acceptance criteria, your complaint will
          be sent to the business within approximately 7 business days.
        </p>
      </div> -->
      <div class="option">
        <img
          class="img"
          alt="Clock outline"
          src="assets/images/ClockOutline.svg"
        />
        <p class="text-wrapper">
          The business will be asked to respond within 14 calendar days.
        </p>
      </div>
      <div class="option">
        <img
          class="img"
          alt="Notifications none"
          src="assets/images/Notifications none.svg"
        />
        <p class="text-wrapper">
          You will be notified of the business' response when we receive it (or
          notified that we received no response).
        </p>
      </div>
      <div class="option">
        <img class="img" alt="Calendar" src="assets/images/Calendar.svg" />
        <p class="text-wrapper">
          Complaints are usually closed within 30 days.
        </p>
      </div>
    </div>
  </div>
</div>
