<div class="container">
  <div class="logos">
    <div class="airbnb">
      <div class="airbnb-wrapper">
        <img class="img" alt="Airbnb" [src]="airbnbLogo" />
      </div>
    </div>
    <div class="dropbox">
      <div class="element-dropbox-logo-wrapper">
        <img
          class="element-dropbox-logo"
          alt="Element dropbox logo"
          [src]="dropboxLogo"
        />
      </div>
    </div>
    <div class="stripe">
      <div class="stripe-wrapper">
        <img class="stripe-2" alt="Stripe" [src]="stripeLogo" />
      </div>
    </div>
    <div class="microsoft">
      <div class="microsoft-logo-wrapper">
        <img
          class="microsoft-logo"
          alt="Microsoft logo"
          [src]="microsoftLogo"
        />
      </div>
    </div>
  </div>
</div>
