<div class="container">
  <div class="flex-container">
    <!-- Left side with input fields -->
    <div class="form-wrapper">
      <h1>Forgot Password ?</h1>
      <p style="color: #8c8c8c">
        Enter your email below to recover your password
      </p>
      <form>
        <div class="form-item">
          <label for="email"></label>
          <input type="email" name="email" required placeholder="Email" />
        </div>
        <div class="button-panel">
          <button
            type="submit"
            class="button"
            title="Submit"
            (click)="handleSubmit()"
          >
            Submit <i class="fas fa-paper-plane"></i>
          </button>
        </div>
      </form>
      <div class="line"></div>
      <div class="form-footer">
        <p>
          <a [routerLink]="['/']">Back to home</a>
        </p>
        <p>
          <a [routerLink]="['/signin']">Go back to login ?</a>
        </p>
      </div>
    </div>

    <!-- Right side with Lottie animation -->
    <div class="animation-container">
      <img class="image" [src]="Forgotimage" />
    </div>
  </div>
</div>
