<div class="container">
  <main>
    <br /><br />
    <div class="avatarr">
      <img src="../../assets/images/Safaricom.png" alt="Profile" />
    </div>
    <div class="details">
      <h3>Safaricom</h3>
      <p>Internet</p>
    </div>
    <div class="container bio">
      <div class="content">
        <div class="details">
          <h3>About us</h3>
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro
          officiis fugit hic vel voluptates perferendis aut quibusdam sit omnis
          unde aspernatur quae repellat blanditiis autem, a libero asperiores
          neque illum aliquid est tempore.
        </p>
      </div>
    </div>
  </main>
</div>

<div class="container">
  <div class="contact-section">
    <div class="individuals">
      <div class="headline">
        <div class="contact-us">Contact Us</div>
      </div>
      <div class="paragraph">
        <img class="img" alt="Email" src="../../assets/images/Email.svg" />
        <p class="div">
          <span class="text-wrapper">Email </span>
          <span class="span">:<br /><br />Johndoe@gmail.com</span>
        </p>
      </div>
      <div class="paragraph">
        <img class="img" alt="Phone" src="../../assets/images/Phone.png" />
        <p class="div">
          <span class="text-wrapper">Phone </span>
          <span class="span">:<br /><br />+1 (123) 456-7890</span>
        </p>
      </div>
      <div class="paragraph">
        <img
          class="img"
          alt="Map marker"
          src="../../assets/images/Map Marker.png"
        />
        <p class="div">
          <span class="text-wrapper">Address </span>
          <span class="span">:<br /><br />Nairobi, Westlands</span>
        </p>
      </div>
    </div>
    <div class="businesses">
      <img
        class="contact-us-2"
        alt="Contact us"
        src="../../assets/images/contact.png"
      />
    </div>
  </div>
</div>
