<app-header
  [mainText]="'Empowering Individuals and'"
  [secondaryText]="'Businesses'"
></app-header>
<br /><br />
<div class="container">
  <div class="row">
    <!-- Left Component -->
    <div class="col-md-6">
      <div class="business-left">
        <div class="headline">
          <div class="for-business">For Business</div>
        </div>
        <div class="paragraph">
          <p class="Line1">
            <i class="fa fa-check-square check"></i>&nbsp;Gain a competitive
            edge for your business by showcasing your commitment to
            customer-centric practices.
          </p>
        </div>
        <div class="paragraph">
          <p class="Line2">
            <i class="fa fa-check-square check"></i>&nbsp;Elevate customer
            satisfaction, fostering loyalty and generating positive
            word-of-mouth recommendations.
          </p>
        </div>
        <div class="paragraph">
          <p class="Line3">
            <i class="fa fa-check-square check"></i>&nbsp;Leverage our complaint
            management expertise for efficient handling of customer grievances.
          </p>
        </div>
        <div class="paragraph">
          <p class="Line4">
            <i class="fa fa-check-square check"></i>&nbsp;Build a trustworthy
            reputation through effective complaint resolution.
          </p>
        </div>
        <div class="paragraph">
          <p class="Line5">
            <i class="fa fa-check-square check"></i>&nbsp;Get monthly reports on
            customer service ratings.
          </p>
        </div>
      </div>
    </div>

    <!-- Right Component -->
    <div class="col-md-6">
      <div class="business-right">
        <img class="image" [src]="businesspic" />
      </div>
    </div>
  </div>
</div>
